<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Solvo PHP Developer Test</title>
</head>

<body>
    <header class="header">
        <h1>Solvo PHP Developer Test</h1>
        <p>By: Gilberto Orozco Linero</p>
    </header>
    <main class="main">
        <section class="main-q1">
            <p>Question 1</p>
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Type</th>
                    <th>Extra</th>
                    <th>Wired</th>
                    <th>Price</th>
                </tr>
                {items-list} {total-amount}
            </table>
        </section>

        <section class="main-q2">
            <p>Question 2</p>
            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Type</th>
                    <th>Extra</th>
                    <th>Wired</th>
                    <th>Price</th>
                </tr>
                {items-list-console} {total-amount-console}
            </table>
        </section>
    </main>
    <footer>
        &copy; 2021 - Gilberto Orozco Linero
    </footer>
</body>

</html>